body{
  margin: 0px;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  font-size: 100%
}
h1 {

  margin-top:50px auto 0 auto 0 ;
  font-family: 'Island Moments', cursive;
  font-size: 5.265rem;
  color: #66BFBF;

}
h2
{
  font-family: 'Luxurious Roman', cursive;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
padding-bottom:10px;
}
h3
{
  font-family: 'Luxurious Roman', cursive;
  color: #11999E;
}
a{
  color: #11999E;
  font-family: 'PT Sans', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
hr{

  border: dotted gray 5px;
  border-bottom: none;
  width: 5%;
margin: 100px auto;
}
p{
    line-height: 2;
}
.top-container {
  background-color: #C9EFF9;
padding-top: 100px;
position: relative;

}

.middle-container{
margin: 100px 0;
}

.bottom-container{

background-color: #66BFBF;
height:  100px;
padding-top: 50px;
}
.copyright{
  margin: 30;
  color: white;
}

.skill-row {
  width: 50%;
  margin:5% auto 10% auto;
  text-align: left;

}
.intro{
  width: 40%;
  margin: auto;
}
.Graphic
{
  width: 130px;
  border-radius: 50%;
  float: right;
  margin: 0 100px 30px auto;
}
.game-development
{
  width: 130px;
  border-radius: 50%;
  float: left;
  margin: 30px 30px 40px auto;
}
/*
rapping space
.game-development-discription{
  clear: left;

}
.Graphic-discription{
  clear: right;
}
*/
.top-cloud{
position: absolute;
right: 20%;
top:50px;
}
.bottom-cloud {
  position:absolute;
  left: 20%;
  bottom: 40%;
}
.Profile{
  width: 10%;
  height: 20%;
  border-radius: 50%;
}
.contact-massage {
  width: 40%;
  margin: 40px auto 60px;
}
.contact-me{
  margin: 50px;
}

.copyright{
  margin: 20px;
  font-size: 0.75rem;
  
}
.btn {

  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Luxurious Roman', cursive;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
